
@font-face {
  font-family: 'Poppins';
  src: url('./font/poppins/PoppinsBlackItalic.woff2') format('woff2'),
      url('./font/poppins/PoppinsBlackItalic.woff') format('woff'),
      url('./font/poppins/Poppins-BlackItalic.ttf');
      
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./font/poppins/PoppinsBlack.woff2') format('woff2'),
      url('./font/poppins/PoppinsBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./font/poppins/PoppinsBold.woff2') format('woff2'),
      url('./font/poppins/PoppinsBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./font/poppins/PoppinsBoldItalic.woff2') format('woff2'),
      url('./font/poppins/PoppinsBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./font/poppins/PoppinsExtraBold.woff2') format('woff2'),
      url('./font/poppins/PoppinsExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./font/poppins/PoppinsExtraBoldItalic.woff2') format('woff2'),
      url('./font/poppins/PoppinsExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./font/poppins/PoppinsItalic.woff2') format('woff2'),
      url('./font/poppins/PoppinsItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./font/poppins/PoppinsExtraLightItalic.woff2') format('woff2'),
      url('./font/poppins/PoppinsExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./font/poppins/PoppinsExtraLight.woff2') format('woff2'),
      url('./font/poppins/PoppinsExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./font/poppins/PoppinsMedium.woff2') format('woff2'),
      url('./font/poppins/PoppinsMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./font/poppins/PoppinsMediumItalic.woff2') format('woff2'),
      url('./font/poppins/PoppinsMediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./font/poppins/PoppinsLightItalic.woff2') format('woff2'),
      url('./font/poppins/PoppinsLightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./font/poppins/PoppinsLight.woff2') format('woff2'),
      url('./font/poppins/PoppinsLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./font/poppins/PoppinsSemiBold.woff2') format('woff2'),
      url('./font/poppins/PoppinsSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./font/poppins/PoppinsThin.woff2') format('woff2'),
      url('./font/poppins/PoppinsThin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./font/poppins/PoppinsRegular.woff2') format('woff2'),
      url('./font/poppins/PoppinsRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./font/poppins/PoppinsThinItalic.woff2') format('woff2'),
      url('./font/poppins/PoppinsThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('./font/poppins/PoppinsSemiBoldItalic.woff2') format('woff2'),
      url('./font/poppins/PoppinsSemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}


.dark-bg
{
  background: #072654;
}
.primary-bg{
  background: #333994;
}
  
body {
  font-family: 'Poppins', sans-serif;
}
.logo
{
  max-width: 275px;
}
/* html, body {
  overflow-x: hidden;
} */

.offer-circle-badge
{
  width: 78px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ED002B;
}

.global-search
{
  border-radius: 3px !important;
  border: 1px solid var(--Border-Color, #E0E0E0);
  background: #FFF;
  padding: 11px 12px !important;
}
.slick-track
{
  display: flex !important;
}
.slick-track div div.bg-white
{
  height: auto !important;
}
.slick-initialized .slick-slide {
  display: flex !important;
}
.slick-slide
{
  height: auto !important;
}
/* 
.section-height
{
  min-height: 390px;
} */

.section-height
{
  min-height: 323px;
}

/* Hide scrollbar */
/* .scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

#categoryMenu
{
  position: fixed;
  background: #fff;
  height: 100%;
  z-index: 48;
}


@media screen and (max-width: 1279px) {
  .section-height
  {
        min-height: 200px;
  }
}


@media screen and (max-width: 760px) {
  .banner-height
  {
    min-height: 160px;
    background: url(./font/poppins/Poppins-Black.woff);
  }
  }

.scroll-menu-txt-wrap
{
  width: auto;
  display: block;
  text-wrap: wrap;
}


/* Hide all slides except the first before Slick initializes */
/* .slick-slider>div:not(:first-child) {
    display: none;
} */

/* Once Slick initializes, show all slides */
/* .slick-initialized .slick-slider>div {
    display: block !important;
} */

@media screen and (max-width: 640px) {

  .strict-full-width

{
  width: 100% !important;
}

}
